.container {
  background-color: #000;
  height: 500px;
  width: 500px;
}
.a {
  background-color: yellow;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.b {
  background-color: yellow;
  width: 100px;
  height: 100px;
  border-radius: 0;
}
.c {
  background-color: yellow;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
